html, body {
  margin: 0;
  padding: 0;
}

.main {
    background-image: url("http://s3.amazonaws.com/codecademy-content/projects/bass/bg.jpg");
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 400px;
}

.main h1, .main p {
    color: #fff;
    margin-left: 30px;
}

.main h1 {
    font-size: 340%;
}
.feature {
    background-image: url("http://s3.amazonaws.com/codecademy-content/projects/bass/feature.jpg");
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 500px;
}
.logo {
    height: 60px;
    width: 60px;
    margin-top: 20px;
    margin-left: 25px;

}

.nav ul {
    margin-top: 20px;
}
.nav ul li {
    display: inline;
}

.nav ul li a {
    color: #fff;
}

.nav ul li a:hover {
    color: #fff;
    background:rgba( 255,26,26,0.8);
    box-shadow: 0 0 6px rgba( 255,26,26,0.8);
}
.active a {
    background-color: #fa003c;
    color: #fff;
    background:rgba( 255,26,26,0.8);
    box-shadow: 0 0 6px rgba( 255,26,26,0.8);
}
.section1 {
    background-color: #161718;
}

.section2 {
    background-color: #000;
}

.section3 {
    background-color: #161718;
}

.supporting {
    color: #fff;
    margin-left: 10px;
}

.feature {
    text-align: center;
    color: #fff;
}
.feature h2 {
    margin-top: 15%;
}

.footer {
    background-color: #000;
}

.footer h2 {
    color: #fff;
    font-size: 24px;
    margin-left: 34px;
}
.footer ul li {
    list-style-type: none;
    font-size: 16px;
    font-weight: 300;
}

.footer ul li a {
    color: #fff;
}
