html, body {
  margin: 0;
  padding: 0;
}

.container {
  width: 940px;
  margin: 0 auto;
}

.header {
    background-color: #333333;
}

.nav a {
    text-transform: uppercase;
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    padding: 10px;
}

.nav li {
    display: inline;
}
.jumbotron {
  height: 800px;
  background-image: url(http://s3.amazonaws.com/codecademy-content/projects/broadway/bg.jpg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.nav {
  margin: 0;
  padding: 20px 0;
  margin-left: 80px;
}

.nav li {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 12px;
}

.main {
  position: relative;
  top: 180px;
  text-align: center;
}

.main h1 {
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 70px;
  margin-top: 0;
  margin-bottom: 80px;
  text-transform: uppercase;
}

.btn-main {
  background-color: #333;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.3px;
  padding: 16px 40px;
  text-decoration: none;
  text-transform: uppercase;
}

.supporting {
  padding-top: 80px;
  padding-bottom: 100px;
}

.supporting .col {
  float: left;
  width: 33%;
  font-family: 'Raleway', sans-serif;
  text-align: center;
}

.supporting img {
  height: 32px;
}

.supporting h2 {
  font-size: 23px;
  font-weight: 600;
  text-transform: uppercase;
}

.supporting p {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 40px;
  padding: 0 50px;
}

.supporting a {
    text-decoration: none;
    text-transform: uppercase;
    color: #333333;
    border: 1px solid #333333;
    padding:8px 35px 8px 35px;
    font-size: 8px;
}
.clearfix {
  clear: both;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 30px 0;
}

.footer p {
  font-family: 'Raleway', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
}
